{% extends 'header.html' %} {% load static%} {% block title %} Services
{%endblock title %} {% block more_head %}<link
  rel="stylesheet"
  href="static/css/contact.css"
/>

{% endblock more_head %} {% block body %}

<div class="container">
  <img class="bg" src="static/images/contact.png" />
  <div class="top-left">
    <h1>Contact :</h1>
    <div class="socials">
      <div class="social-item">
        <img src="static/images/@.png" />
        <p class="social-name">Email Us</p>
        <p class="social-content">sutkerinepal@gmail.com</p>
      </div>

      <div class="social-item">
        <img src="static/images/location.png" />
        <p class="social-name">Find Us</p>
        <p class="social-content">M8CR+C3G, Lalitpur 44600</p>
      </div>
    </div>
  </div>
</div>

{% endblock body %}
