<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static%}
    <link rel="stylesheet" href="static/css/kyc.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KYC</title>
  </head>
  <body>
    
    

<div class="container">
  <div class="title">Health Parameters</div>
  <a href="{% url "home1 page" %}"><div class="next_page">
    <img src="static/images/back.png" class="next-img" />
  </div></a>
  <form method="post">
    {% csrf_token %}
    <div class="user__details">
      <div class="input__box">
        <span class="details">Systolic BP </span>
        <input type="Number" name="upper_bp" step="any" placeholder="in mmHg" required>
      </div>
      <div class="input__box">
        <span class="details">Diastolic BP</span>
        <input type="number" name="lower_bp" step="any" placeholder="in mmHg" required >
      </div>
      <div class="input__box">
        <span class="details">Blood Sugar</span>
        <input type="number" name="bs" step="any" placeholder="in mmol/l" required>
      </div>
      <div class="input__box">
        <span class="details">Body Temperature</span>
        <input type="number" name="bt" step="any" placeholder="in °F" required>
      </div>
     
    </div>

    <div class="button">
      <input type="submit" value="Submit">
    </div>
  </form>
</div>

  </body>
</html>
