{% extends 'head.html' %} {% load static%} {% block home_head %}
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="static/css/home.css" />
{% block week_head %}{% endblock week_head %} {% endblock home_head %} 
{% block home_body %} {% block week_body %} {% endblock week_body %}


<div class="homebody" id="body-el">
  <h1 class="trimester">THIRD TRIMESTER</h1>

  <div class="tables">
    <div class="table-content">
      <img src="static/images/third/week28.png" class="week-img" />
      <p class="week-name">Week 28</p>
      <p class="week-desc">Your baby's eyes may be able to see light filtering in through your womb.</p>
    </div>
    <div class="table-content">
      <img src="static/images/third/week29.png" class="week-img" />
      <p class="week-name">Week 29</p>
      <p class="week-desc">Your baby's muscles and lungs are maturing.</p>
    </div>

    <div class="table-content green-table">
      <img src="static/images/third/week30.png" class="week-img" />
      <p class="week-name green-name">Week 30</p>
      <p class="week-desc green-desc">Your baby weighs almost 3 pounds.</p>
    </div>

    <div class="table-content">
      <img src="static/images/third/week31.png" class="week-img" />
      <p class="week-name">Week 31</p>
      <p class="week-desc">Your baby's strong kicks might be keeping you up at night.</p>
    </div>

    <div class="table-content">
      <img src="static/images/third/week32.png" class="week-img" />
      <p class="week-name">Week 32</p>
      <p class="week-desc">
        Your baby is plumping up! 
      </p>
    </div>

    <div class="table-content">
      <img src="static/images/third/week33.png" class="week-img" />
      <p class="week-name">Week 33</p>
      <p class="week-desc">Your baby weighs a little more than 4 pounds now.</p>
    </div>
    <div class="table-content">
      <img src="static/images/third/week34.png" class="week-img" />
      <p class="week-name">Week 34</p>
      <p class="week-desc">
        Your baby's central nervous system and lungs are maturing. 
      </p>
    </div>
  </div>
  <div class="tables">
    <div class="table-content">
      <img src="static/images/third/week35.png" class="week-img" />
      <p class="week-name">Week 35</p>
      <p class="week-desc">
        Your baby is too snug in your womb to do a lot of somersaults.
      </p>
    </div>
    <div class="table-content">
      <img src="static/images/third/week36.png" class="week-img" />
      <p class="week-name">Week 36</p>
      <p class="week-desc">
        Your baby is gaining about an ounce a day.
      </p>
    </div>

    <div class="table-content green-table">
      <img src="static/images/third/week37.png" class="week-img" />
      <p class="week-name green-name">Week 37</p>
      <p class="week-desc green-desc">
        Your baby's brain and lungs are continuing to mature.
      </p>
    </div>

    <div class="table-content">
      <img src="static/images/third/week38.png" class="week-img" />
      <p class="week-name">Week 38</p>
      <p class="week-desc">Your baby has a firm grasp, which you'll soon be able to test in person!</p>
    </div>

    <div class="table-content">
      <img src="static/images/third/week39.png" class="week-img" />
      <p class="week-name">Week 39</p>
      <p class="week-desc">
        Your baby is full term and waiting to greet the world!
      </p>
    </div>

    <div class="table-content">
      <img src="static/images/third/week40.png" class="week-img" />
      <p class="week-name">Week 40</p>
      <p class="week-desc">Your baby is the size of a small pumpkin! </p>
    </div>
    <div class="table-content">
      <img src="static/images/third/week41.png" class="week-img" />
      <p class="week-name">Week 41</p>
      <p class="week-desc">Your baby should remain active right up until delivery.</p>
    </div>
  </div>
<a href="{% url "home2 page" %}"><div class="previous_page">
    <img src="static/images/previous.png" class="previous-img" />
  </div></a>
  <div class="footer">{% for item in health_data %}
    {% if forloop.last %}
        <span>This Week:  </span>&nbsp;<span>Systolic_BP: </span>{{ item.Systolic_BP }}<span>mmHg</span> &nbsp;<span>Diastolic_BP: </span>{{ item.Diastolic_BP }}<span>mmHg</span>&nbsp; <span>Blood Sugar: </span>{{ item.Blood_Sugar }}<span>mmol/l</span> &nbsp;<span>Body Temperature: </span>{{ item.Body_Temperature }}<span>°F</span>&nbsp;<span>Calculaed Risk: </span>{{val}}
      {% endif %}
    {% endfor %}
  </div>
  <script src="static/js/home.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
    integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"
  ></script>
</div>
{% endblock home_body %}
